.banner-main {
    height: 100vh;
    background: url(../../public/img/banner.jpg);
    background-size: cover;
    z-index: -1;

    .hero-text {
        text-align: left;
        position: absolute;
        top: 35%;
        left: 16%;
        color: $theme-brown;

        p {
            margin: 20px 0;
        }

        p.main-text {
            font-size: 450%;
            margin-bottom: 40px;
            font-weight: 700;
        }

        p.sub-text {
            font-weight: 500;
            font-size: 200%;
        }

        .btn-hero {
            color: $logo-blue;
            font-size: 50%;
            padding: 10px 20px;
            border: 4px solid $logo-blue;
            border-radius: 8px;
            display: inline-block;
            margin-top: 50px;
            transition: 0.3s;
            
            &:hover {
                color: white;
                background-color: $logo-blue;
                border-color: $logo-blue;
            }
        }
    }

    .hero-text-en {
        font-family: $banner, sans-serif;
    }
}