nav.top-nav {
  font-family: $banner, sans-serif;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;

  ul.side-nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    text-align: left;

    li {
      padding: 8px 0 8px 12px;
      margin: 0 25px;
      display: block;

      a {
        color: black;
      }
    }

    a.close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
  }

  &>div {
    padding: 50px 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul.nav-links {
      float: right;
      height: 50px;
  
      li {
        display: inline-block;
        
        a {
          display: block;
          margin: 0 25px;
          padding: 10px 5px;
          color: black;
          font-size: 120%;
          transition: 0.3s;
        }
  
        a:hover {
          color: $logo-blue;
          border-bottom: 3px $logo-blue solid;
        }
      }

      li.open-nav {
        display: none;

        a:hover {
          border-bottom: none;
        }
  
        div {
          width: 30px;
          height: 4px;
          background-color: black;
          margin: 5px 0;
        }
      }

      li.lang-switch {
        margin-left: 50px;
      }
    }
  
    .logo-main {
      float: left;
  
      a{
        font-size: 400%;
      }
    }
  }

  @media only screen and (max-width: 1680px) {
    &>div {
      padding: 50px 8%;
    }
  }

  @media only screen and (max-width: 1480px) {
    &>div {
      ul.nav-links {
        li {
          display: none;
        }

        li.open-nav {
          display: inline-block;
          
          a {
            margin: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    &>div {
      padding: 20px 8%;

      .logo-main {
        a {
          font-size: 300%;
        }
      }
    }
  }
  
  @media only screen and (max-width: 480px) {
    &>div {
      padding: 10px 20px;

      .logo-main {
        float: left;
    
        a{
          font-size: 250%;
        }
      }
    }
	}
}