$logo-blue: #414983;
$theme-pink: #e4a3ac;
$theme-navi: #866c8e;
$theme-brown: #310816;

$logo-font: 'Meddon';
$secondary-font: 'Oswald';
$main-font: 'Noto Sans JP';
$cn-font: 'Noto Sans SC';
$banner: 'Noto Serif SC';
$new-font: 'Source Sans Pro';